
.banner{
  background-color: #006699;
  width: 540px;
  height: 70px;
  position: relative;
  text-align: left;
}
.bannerIco{
  padding-top: 10px;
  position: absolute;
  float:left;
}

.containerGeneral{
  background-image:  url("/src/assets/background.png");
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 2px;
  padding-left: 10px;
  width: 530px;
  height: 430px;
  overflow:scroll;
}

.containerGeneralInput{
  border: 0px solid #dedede;
  background-color: #F1F2D5;
  border-radius: 2px;
  width: 530px;
  height: 85px;
}

.input{
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 2px;
  margin: 18px 0;
  width: 83%;
  height: 50%;
  float: left;
}
.containerCliente {
  border: 1px solid #dedede;
  background-color: #F1F2D5;
  border-radius: 30px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  width: 80%;
  text-align: left;
  float: right;
  display: -webkit-box;
  font-size: 12px;
  }

.containerAndrea{
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  width: 80%;
  text-align: left;
  float: left;
  display: -webkit-box;
  font-size: 12px;
}

.textClienteAndrea{
  margin: 5px;
  margin-top: 22px;
  width: 88%;
  max-width: 88%;
  word-wrap: break-word;
}
.textClienteAndreaHeader{
  font-size: 12px;
  font-weight: bold;
  color: #006699;
  width: 300px;
  height: 15px;
  padding-left: 5px !important;
  position:absolute !important;
}
.hourClienteAndrea{
  font-size: 8px;
  width: 100px;
  height: 15px;
  position: relative;
}

.iconChatDiners{
  background-image:  url("/src/assets/DINERS.png");
  background-repeat: no-repeat;
  width: 40px; /*or your image's width*/
  height: 40px; /*or your image's height*/
  margin-left: -8px;
  padding: 0;
  }
.iconChatUser{
  background-image:  url("/src/assets/USER.png");
  background-repeat: no-repeat;
  width: 40px; /*or your image's width*/
  height: 40px; /*or your image's height*/
  margin: 0;
  padding: 0;
}

.nombreChat{
  width: 15px; /*or your image's width*/
  height: 150px; /*or your image's height*/
  color: blue;
  margin: 0;
  padding: 0;
  position: relative;
}

.iconSend{
  margin-top: 18px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  }

.linkDiv{
  float: right;
  padding:25px;
  font-size: 16px;
  }
.fechaActual{
  padding-top: 10px;
  font-weight: bold;
}

a {
  text-decoration:none;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

ul{
  padding: 0;
  list-style-type: none;
}
